body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    font-size: 2.5em;
}

h2 {
    color: #34495e;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #3498db;
    outline: none;
}

.resultado {
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.1em;
    color: #2c3e50;
}

.resultado-final {
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #2c3e50;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #2980b9;
}

.button-group button:active {
    background-color: #1c5980;
}
.menu-button .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.menu-button .btn:hover {
    background-color: #2980b9;
}